:root {
  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;
  --font-family-hatton: "Hatton", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-family-agrandir: "Agrandir", -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;
  --color-baby-blue: #605fef;
  --color-sun-yellow: #faff01;

  --underline-distance: 1em;

  /* Typography */
  --font-base-size: 1.8rem;
  --font-base-line-height: 1;
  --font-base-size-desktop: 4rem;
  --font-base-line-height-desktop: 1;
}
