@import "../styles/custom-media.css";

.root {
  box-sizing: border-box;
  max-width: 125rem;
  padding: 2rem;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 6rem;
  }
}
.narrow {
  max-width: 104rem;
}
