@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";
@import "../styles/effects.css";

.root {
  margin-bottom: 6rem;
  @media (--media-min-small) {
    display: flex;
    margin-bottom: 5rem;
  }
}

.inverted {
  @media (--media-min-small) {
    flex-direction: row-reverse;
  }
  & .text {
    @media (--media-min-small) {
      margin-left: 0;
      margin-right: 5rem;
    }
  }
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
  @media (--media-min-small) {
    margin-bottom: 0;
    /* margin-right: 5rem; */
  }
  & img {
    width: 30rem;
  }
}
.downloadLink {
  background-image: none;
}
.downloadCopy {
  text-align: center;
  /* text-decoration: underline; */
  color: var(--color-sun-yellow);
  margin-top: 0.9rem;
  & svg {
    position: relative;
    top: 0.3rem;
  }
}
.text {
  @media (--media-min-small) {
    margin-left: 5rem;
  }

  & a {
    display: inline-block;
    color: var(--color-sun-yellow);
    @apply --solid-underline-yellow;
  }
  /* margin-bottom: 6rem; */
}
