@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  @media (--media-min-small) {
    display: flex;
    justify-content: space-between;
  }
}

.leftCol {
  margin-bottom: 4rem;
  @media (--media-min-small) {
    flex-basis: 40%;
    line-height: 1.3;
  }
}
.rightCol {
  @media (--media-min-small) {
    flex-basis: 40%;

    font-size: 1.8rem;
  }
}
